<?php

$dbhost ='localhost';
$dbuser = 'taxidi';
$dbpass = 'secret';
$dbname = 'taxidi';

// Path to photo database with trailing slash
$photo_path = '/home/taxidi/taxidi_photos/'; 
$photo_maxsize = 1 * 1024 * 1024; // bytes

?>
