/*
	Copyright 2009 Itamar Arjuan
	jsDatePick is distributed under the terms of the GNU General Public License.
	
	Modified by Nathan Lex 2012
*/

.JsDatePickBox {
	position:relative;
	width:212px;
	border: 2px solid #C5C5C5;
	border-radius: 5px;
	background-color: #FFFFFF;
}

.JsDatePickBox .jsDatePickCloseButton {
	cursor: pointer;
	position: absolute;
	z-index: 1;
	top: -1px;
	right: 10px;
	width: 33px;
	height: 13px;
	background:url(../../resources/img/datepicker/closebutton.png) left top no-repeat;
}
.JsDatePickBox .jsDatePickCloseButton.Norm {
	background-position: 0 -13px;
}
.JsDatePickBox .jsDatePickCloseButton.Over {
	background-position: 0 0;
}
.JsDatePickBox .jsDatePickCloseButton.Down {
	background-position: 0 -26px;
}

.JsDatePickBox .boxMain {
	float:left;
	margin:0 7px;
	padding:12px 0 5px;
}
.JsDatePickBox .tooltip { height:12px; line-height:11px; overflow:hidden; font-size:10px; color:#666666; text-align:left; padding:0px; margin:2px 0 2px 0; }
.JsDatePickBox .weekDaysRow { height:12px; overflow:hidden; line-height:11px; font-size:10px; color:#666666; text-align:center; padding:0px; margin:2px 0 0 0; }
.JsDatePickBox .weekDaysRow .weekDay { float:left; height:14px; overflow:hidden; width:24px; margin:0 5px 0 0; padding:0; }

.JsDatePickBox .boxMainInner { 
	width: 198px;
	float: left;
	margin: 5px 0 0 0;
	padding: 0;
}
.JsDatePickBox .boxMainCellsContainer { margin:0; padding:0; }

.JsDatePickBox .boxMainInner .controlsBar {
	overflow: hidden;
	height: 20px;
	position: relative;
}
.JsDatePickBox .boxMainInner .controlsBarText {
	line-height:20px;
	color:#000000;
	font-size:12px;
	text-align:center;
}

.JsDatePickBox .boxMainInner .monthForwardButton {
	cursor: pointer;
	overflow: hidden;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0px;
	right: 22px;
	background: url(../../resources/img/datepicker/datebuttons.png) left top no-repeat;
}
.JsDatePickBox .boxMainInner .monthForwardButton.Norm {
	background-position: -20px -40px;
}
.JsDatePickBox .boxMainInner .monthForwardButton.Over {
	background-position: 0 -40px;
}
.JsDatePickBox .boxMainInner .monthForwardButton.Down {
	background-position: -40px -40px;
}

.JsDatePickBox .boxMainInner .monthBackwardButton {
	cursor: pointer;
	overflow: hidden;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0px;
	left: 22px;
	background: url(../../resources/img/datepicker/datebuttons.png) left top no-repeat;
}
.JsDatePickBox .boxMainInner .monthBackwardButton.Norm {
	background-position: -20px -20px;
}
.JsDatePickBox .boxMainInner .monthBackwardButton.Over {
	background-position: 0 -20px;
}
.JsDatePickBox .boxMainInner .monthBackwardButton.Down {
	background-position: -40px -20px;
}

.JsDatePickBox .boxMainInner .yearForwardButton {
	cursor: pointer;
	overflow: hidden;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0px;
	right: 0px;
	background: url(../../resources/img/datepicker/datebuttons.png) left top no-repeat;
}
.JsDatePickBox .boxMainInner .yearForwardButton.Norm {
	background-position: -20px -60px;
}
.JsDatePickBox .boxMainInner .yearForwardButton.Over {
	background-position: 0 -60px;
}
.JsDatePickBox .boxMainInner .yearForwardButton.Down {
	background-position: -40px -60px;
}

.JsDatePickBox .boxMainInner .yearBackwardButton {
	cursor: pointer;
	overflow: hidden;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(../../resources/img/datepicker/datebuttons.png) left top no-repeat;
}
.JsDatePickBox .boxMainInner .yearBackwardButton.Norm {
	background-position: -20px 0;
}
.JsDatePickBox .boxMainInner .yearBackwardButton.Over {
	background-position: 0 0;
}
.JsDatePickBox .boxMainInner .yearBackwardButton.Down {
	background-position: -40px 0;
}

.JsDatePickBox .boxMainInner .skipDay { cursor:default; overflow:hidden; width:24px; height:25px; float:left; margin:4px 5px 0 0; padding:0; }
.JsDatePickBox .boxMainInner .dayNormal { -khtml-user-select: none; font-size:12px; cursor:pointer; overflow:hidden; color:#4c4c4c; width:24px; height:25px; float:left; margin:4px 5px 0 0; padding:0; text-align:center; line-height:25px; }
.JsDatePickBox .boxMainInner .dayNormalToday { -khtml-user-select: none; font-size:12px; cursor:pointer; overflow:hidden; color:#f40f0f; font-weight:bold; width:24px; height:25px; float:left; margin:4px 5px 0 0; padding:0; text-align:center; line-height:25px;  }

.JsDatePickBox .boxMainInner .dayDisabled { -khtml-user-select: none; cursor:default; font-size:12px; overflow:hidden; color:#999999; width:24px; height:25px; float:left; margin:4px 5px 0 0; padding:0; text-align:center; line-height:25px;  }

.JsDatePickBox .boxMainInner .dayOver { -khtml-user-select: none; cursor:pointer; font-size:12px; overflow:hidden; color:#4c4c4c; width:24px; height:25px; float:left; margin:4px 5px 0 0; padding:0; text-align:center; line-height:25px;  }
.JsDatePickBox .boxMainInner .dayOverToday { -khtml-user-select: none; cursor:pointer; font-size:12px; overflow:hidden; font-weight:bold; color:#f40f0f; width:24px; height:25px; float:left; margin:4px 5px 0 0; padding:0; text-align:center; line-height:25px;  }

.JsDatePickBox .boxMainInner .dayDown { -khtml-user-select: none; cursor:pointer; font-size:12px; overflow:hidden; color:#F9F9F9; width:24px; height:25px; float:left; margin:4px 5px 0 0; padding:0; text-align:center; line-height:25px;  }
.JsDatePickBox .boxMainInner .dayDownToday { -khtml-user-select: none; cursor:pointer; font-size:12px; overflow:hidden; color:#f40f0f; font-weight:bold; width:24px; height:25px; float:left; margin:4px 5px 0 0; padding:0; text-align:center; line-height:25px;  }

.dayNormal, .dayNormalToday, .dayOver, .dayOverToday, .dayDown, .dayDownToday {
	border-radius: 5px;
}

.dayNormal.ocean_blue, .dayNormalToday.ocean_blue {
	background-color: #b6d1ee;
}
.dayOver.ocean_blue, .dayOverToday.ocean_blue {
	background-color: #65a7ed;
}
.dayDown.ocean_blue, .dayDownToday.ocean_blue {
	background-color: #096fdb;
}
